
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="../assets/musix.png"/></a>
  <!-- Links -->
  <ul class="navbar-nav">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  routerLink = '/India' id="navbardrop" data-toggle="dropdown">
        Tracks
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Bollywood</a>
        <a class="dropdown-item" href="#">Punjabi</a>
        <a class="dropdown-item" href="#">spanish</a>
      </div>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" routerLink = '/Wishlist'>Wishlist</a>
    </li>
  </ul>

  <app-search></app-search>
    
</nav>
<br>
<!--   
<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu in the navbar.</p>
</div> -->


